html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#slides {
    top: 0px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.slideshow {
   background-color : ghostWhite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slideshow {
    from {
        opacity: 0;
        -ms-transform: rotate(360deg) scale(0,0); /* IE 9 */
        -webkit-transform: rotate(360deg) scale(0,0); /* Chrome, Safari, Opera */
        transform: rotate(360deg) scale(0,0);
    }
    to {
        opacity: 0.9;
        -ms-transform: rotate(0deg) scale(1,1); /* IE 9 */
        -webkit-transform: rotate(0deg) scale(1,1); /* Chrome, Safari, Opera */
        transform: rotate(0deg) scale(1,1);
    }
}

/* Standard syntax */
@keyframes slideshow {
    from {opacity: 0.3;}
    to {opacity: 1;}
}

.slideWrapper {
    padding: 30px;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    display: none;
}
.slideWrapper.selected { 
    display: block;
    -webkit-animation: slideshow ease-out 0.5s; /* Chrome, Safari, Opera */
    animation: slideshow 1s;
}

.slide {
    padding: 10px;
    height: 100%;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.4);
    border-radius : 10px 10px 10px 10px;
    -webkit-border-radius : 10px 10px 10px 10px;
    -moz-border-radius : 10px 10px 10px 10px;
    background-clipping: border-box;
    -webkit-background-clipping: border-box;
    -moz-background-clipping: border-box;
    background-color : aliceblue;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slide > section {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    border: 1px solid azure;
    border-radius : 10px 10px 10px 10px;
    -webkit-border-radius : 10px 10px 10px 10px;
    -moz-border-radius : 10px 10px 10px 10px;
    background-clipping: border-box;
    -webkit-background-clipping: border-box;
    -moz-background-clipping: border-box;
    background-color : lightblue;
}

.title, .maintitle {
    font-size : 36pt;
    color: #202020;
    padding: 15px;
}

.maintitle, .subtitle { 
    position: relative;
    top: 45%;
}


.subtitle {
    color: #606060;
    padding: 10px;
    font-size: 15pt;
}

.slideContent {
    font-size : 24pt;
    color: #404040;
}

.slideContent li {
    padding: 10px;
}

.notes {
    float: right;
}

/* Tablets */
@media ( min-width : 768px ) and ( max-width : 991px) {
    .slideWrapper {
        padding: 20px;
    }
    .slide{
        padding: 10px;
    }
    .slide > section {
        padding: 20px;
    }
    .title, .maintitle {
        font-size : 26pt;
        padding: 10px;
    }
    .subtitle {
        padding: 5px;
        font-size: 15pt;
    }
    
    .slideContent {
        font-size : 20pt;
    }
    
    .slideContent li {
        padding: 7px;
    }
}

/* Phones */
@media ( max-width : 768px ) {
    .slideWrapper {
        padding: 10px;
    }
    .slide{
        padding: 5px;
    }
    .slide > section {
        padding: 10px;
    }
    .title, .maintitle {
        font-size : 18pt;
        padding: 10px;
    }
    .subtitle {
        padding: 5px;
        font-size: 14pt;
    }
    
    .slideContent {
        font-size : 14pt;
    }
    
    .slideContent li {
        padding: 2px;
    }
}