html,body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.topNav {
    width: 100%;
    background-color: IndianRed;
}

.topNav li {
    height: 100%;
    width: 100px;
    line-height: 50px;
    list-style-type: none;
    text-align: center;
}

.topNav a {
    color: Maroon;
    text-decoration: none;
}

.topNav a:hover {
    text-decoration: underline;
}

.container {
    box-sizing: border-box;
    min-height: 100%;
    height: 0px; /* Without specifying height, children of min-height elements wont honor % height */
}

.mainContent {
    height: 100%;
    background-color: Wheat;
}

.mainContent > label {
    font-size : 30px;
    text-align: center;
    display: none;
    color: #404040;
}

.rightSidebar {
    height: 100%;
    background-color: Teal;
}

/* Desktops */
@media ( min-width : 992px) {
    .mainContent > label.desktop {
        display : block;
    }
    .topNav ul {
        height: 50px;
    }
    .topNav li {
        float: left;
        border-right: 1px solid Maroon;
    }
    .container {
        margin-top: -50px;
        padding-top: 50px;
    }
    .mainContent {
        width: 75%;
        float: left;
    }
    .rightSidebar {
        width: 25%;
        float: right;
    }
}

/* Tablets */
@media ( min-width : 768px ) and ( max-width : 991px) {
    .mainContent > label.tablet {
        display : block;
    }
    .topNav ul {
        height: 50px;
    }
    .mainContent {
        width: 100%;
    }
    .container {
        margin-top: -50px;
        padding-top: 50px;
    }
    .topNav li {
        float: left;
        border-right: solid 1px Maroon;
    }
    .rightSidebar {
        display: none;
    }
}

/* Phones */
@media ( max-width : 768px ) {
    .topNav li {
        width: 100%;
        border-bottom: 1px solid Maroon;
    }
    .mainContent > label.phone {
        display : block;
    }
    .rightSidebar {
        display: none;
    }
}